# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.pytest_cache/
htmlcov/
.coverage

# Sphinx documentation
read-the-docs/_build/

# Mac OS X
*.DS_Store

# IRS-SOI PUF data file
puf.csv
tmd.csv

# Jupyter notebook checkpoints
*.ipynb_checkpoints*

# Built documentation
docs/_build/

# Validation files
taxcalc/validation/taxsim35/actual_differences/