name: taxcalc-dev
channels:
  - conda-forge
dependencies:
- "python>=3.10, <3.13"
- "numpy>=1.26"
- "pandas>=2.2"
- "bokeh>=2.4"
- numba
- curl
- setuptools
- pytest
- pytest-xdist
- pycodestyle
- pylint
- coverage
- behresp
- openpyxl
- pip
- pip:
    - jupyter-book
    - "paramtools>=0.19.0"
