include taxcalc/consumption.json
include taxcalc/cps.csv.gz
include taxcalc/cps_weights.csv.gz
include taxcalc/growdiff.json
include taxcalc/growfactors.csv
include taxcalc/policy_current_law.json
include taxcalc/puf_weights.csv.gz
include taxcalc/puf_ratios.csv
include taxcalc/records_variables.json
