/* Tax-Calculator docs website cascading style sheet */

html {
  font-size: 16px;
}
body {
  margin: auto;
  font-family: Verdana, sans-serif;
  font-size: 87.5%;
  padding: 8px 1%;
  color: #333333;
  background: #FFFFFF;
}
a:link {
  color: #B04010;
  text-decoration: none;
}
a:visited {
  color: #84199B;
  text-decoration: none;
}
a:hover {
  color: #B04010;
  text-decoration: underline;
}
a:active {
  color: #B04010;
  text-decoration: underline;
}
b {
  color: #333333;
}
h2 {
  font-size: 140%;
  color: #333333;
}
h1 {
  font-size: 120%;
  color: #333333;
}
h1.topspace {
  font-size: 120%;
  color: #333333;
  margin-top: 2.0em;
}
p {
  font-size: 100%;
  line-height: 125%;
}
p.topspace {
  font-size: 100%;
  margin-top: 2.0em;
}
p.hangingindent {
    margin-left: 3.5em;
    text-indent: -3.5em;
}
li {
  font-size: 100%;
  line-height: 125%;
}
li.spaced {
  font-size: 100%;
  line-height: 125%;
  padding-bottom: 0.6em;
}
