## ReadTheDocs pip requirements file for creating a virualenv

# for building the TaxCalc package API
mock  # used to mock llvmlite numba dependency
numpy
pandas
numba
six
toolz

# for ReadTheDocs
sphinx
sphinxcontrib-napoleon==0.2.11
